.containerContact {
  padding: 0 0 10vh 0;
  overflow: hidden;

  button {
    color: white !important;
  }

  #textBg {
    position: absolute;
    width: 100%;
    font-size: 24vw;
    left: -5%;

    color: #181918;
    z-index: 0;
  }

  .MuiFormControl-root {
    color: white !important;
    width: 100%;
    label {
      color: white !important;
      opacity: 0.5;
    }
  }
  textarea {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);

    padding: 5%;
  }
  button {
    width: 100%;
  }
}
